@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);
@media all and (-ms-high-contrast: none) {
  html {
    display: flex;
    flex-direction: column; } }

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.main-header {
  flex: 0 0 55px; }

.main-footer {
  flex: 0 0 50px; }

.main-body-wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  overflow-x: hidden; }
  .main-body-wrapper .main-content-wrapper {
    flex: 1; }
  .main-body-wrapper .main-control-sidebar {
    flex: 0 0 200px;
    order: -1; }
  .main-body-wrapper .main-menu-sidebar {
    flex: 0 0 250px; }

.header-fixed .main-header {
  position: fixed;
  z-index: 1000;
  width: 100%; }

.header-fixed .main-body-wrapper {
  margin-top: 55px; }

.sidemenu-hidden .main-menu-sidebar {
  margin-left: -200px; }

.sidemenu-fixed .main-menu-sidebar {
  position: fixed;
  height: 100%; }
  .sidemenu-fixed .main-menu-sidebar .sidebar-nav {
    height: calc(100vh - 55px); }

.sidemenu-fixed .main-content-wrapper, .sidemenu-fixed .main-footer {
  margin-left: 200px; }

.sidemenu-fixed.sidebar-hidden .main-content-wrapper, .sidemenu-fixed.sidebar-hidden .main-footer {
  margin-left: 0; }

.sidemenu-control-off-canvas .main-menu-sidebar {
  position: fixed;
  z-index: 999;
  height: 100%; }
  .sidemenu-control-off-canvas .main-menu-sidebar .sidebar-nav {
    height: calc(100vh - 55px); }

.sidemenu-control-compact .main-menu-sidebar {
  flex: 0 0 50px; }

.sidemenu-control-compact.sidemenu-hidden .main-menu-sidebar {
  margin-left: -50px; }

.sidemenu-control-compact.sidemenu-fixed .main-content-wrapper, .sidemenu-control-compact.sidemenu-fixed .main-footer {
  margin-left: 50px; }

.sidemenu-control-compact.sidemenu-fixed.sidemenu-hidden .main-content-wrapper, .sidemenu-control-compact.sidemenu-fixed.sidemenu-hidden .main-footer {
  margin-left: 0; }

.sidecontrol-hidden .main-control-sidebar {
  margin-right: -250px; }

.sidecontrol-fixed .main-control-sidebar {
  position: fixed;
  right: 0;
  height: 100%; }
  .sidecontrol-fixed .main-control-sidebar .tab-content {
    height: calc(100vh - 2.375rem - 55px); }

.sidecontrol-fixed .main-content-wrapper, .sidecontrol-fixed .main-footer {
  margin-right: 250px; }

.sidecontrol-fixed.sidecontrol-hidden .main-content-wrapper, .sidecontrol-fixed.sidecontrol-hidden .main-footer {
  margin-right: 0; }

.sidecontrol-off-canvas .main-control-sidebar {
  position: fixed;
  right: 0;
  z-index: 999;
  height: 100%; }
  .sidecontrol-off-canvas .main-control-sidebar .tab-content {
    height: calc(100vh - 2.375rem - 55px); }

.footer-fixed .main-footer {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  width: 100%; }

.footer-fixed .main-body-wrapper {
  margin-bottom: 50px; }

.main-header,
.main-footer,
.main-menu-sidebar,
.main-content-wrapper,
.main-control-sidebar {
  transition-duration: 0.25s, 0.25s;
  transition-property: margin-left, margin-right; }

@media (max-width: 991px) {
  .main-header {
    position: fixed !important;
    z-index: 1000;
    width: 100%; }
    .main-header .navbar-toggler {
      position: absolute;
      top: 0;
      left: 0;
      width: 70px;
      height: inherit; }
    .main-header .navbar-toggler {
      color: rgba(0, 0, 0, 0.3); }
    .main-header .navbar-brand {
      width: 100% !important;
      margin: 0 auto !important; }
    .main-header .navbar-nav {
      position: absolute;
      top: 0;
      right: 15px;
      height: inherit; }
  .main-body-wrapper {
    margin-top: 55px; }
  .main-menu-sidebar {
    position: fixed;
    width: 220px;
    height: 100%;
    margin-left: -220px; }
    .main-menu-sidebar .sidebar-nav,
    .main-menu-sidebar .nav {
      width: 220px !important; }
  .main-body-wrapper, .main-footer {
    margin-left: 0 !important; }
  .main-control-sidebar {
    margin-right: -250px; }
  .sidebar-mobile-show .sidebar {
    width: 220px;
    margin-left: 0; }
    .sidebar-mobile-show .sidebar .sidebar-nav {
      height: calc(100vh - 55px); }
  .sidebar-mobile-show .main {
    margin-right: -220px !important;
    margin-left: 220px !important; } }

.main-menu-sidebar {
  padding: 0;
  color: #fff;
  background: #263238; }
  .main-menu-sidebar .sidebar-close {
    position: absolute;
    right: 0;
    display: none;
    padding: 0 1rem;
    font-size: 24px;
    font-weight: 800;
    line-height: 55px;
    color: #fff;
    background: 0;
    border: 0;
    opacity: .8; }
    .main-menu-sidebar .sidebar-close:hover {
      opacity: 1; }
  .main-menu-sidebar .sidebar-nav {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    width: 200px; }
    .main-menu-sidebar .sidebar-nav::-webkit-scrollbar {
      position: absolute;
      width: 10px;
      margin-left: -10px;
      -webkit-appearance: none; }
    .main-menu-sidebar .sidebar-nav::-webkit-scrollbar-track {
      background-color: #304047;
      border-right: 1px solid #1c2429;
      border-left: 1px solid #1c2429; }
    .main-menu-sidebar .sidebar-nav::-webkit-scrollbar-thumb {
      height: 50px;
      background-color: #11171a;
      background-clip: content-box;
      border-color: transparent;
      border-style: solid;
      border-width: 1px 2px; }
  .main-menu-sidebar .nav {
    width: 200px;
    flex-direction: column !important; }
    .main-menu-sidebar .nav .nav-title {
      padding: 0.75rem 1rem;
      font-size: 11px;
      font-weight: 600;
      color: #cfd8dc;
      text-transform: uppercase; }
    .main-menu-sidebar .nav .divider {
      height: 10px; }
    .main-menu-sidebar .nav .nav-item {
      position: relative;
      margin: 0;
      transition: background .3s ease-in-out; }
      .main-menu-sidebar .nav .nav-item ul {
        max-height: 0;
        padding: 0;
        margin: 0;
        overflow-y: hidden;
        transition: max-height .3s ease-in-out; }
        .main-menu-sidebar .nav .nav-item ul li {
          padding: 0;
          list-style: none; }
      .main-menu-sidebar .nav .nav-item .nav-link {
        display: block;
        padding: 0.75rem 1rem;
        color: #fff;
        text-decoration: none;
        background: transparent; }
        .main-menu-sidebar .nav .nav-item .nav-link:hover {
          color: #fff !important;
          background: #20a8d8 !important; }
          .main-menu-sidebar .nav .nav-item .nav-link:hover i {
            color: #fff !important; }
        .main-menu-sidebar .nav .nav-item .nav-link.active {
          color: #fff;
          background: #304047; }
          .main-menu-sidebar .nav .nav-item .nav-link.active i {
            color: #20a8d8; }
        .main-menu-sidebar .nav .nav-item .nav-link [class^="icon-"], .main-menu-sidebar .nav .nav-item .nav-link [class*=" icon-"] {
          display: inline-block;
          margin-top: -4px;
          vertical-align: middle; }
        .main-menu-sidebar .nav .nav-item .nav-link i {
          width: 20px;
          margin: 0 0.5rem 0 0;
          font-size: 14px;
          color: #636c72;
          text-align: center; }
        .main-menu-sidebar .nav .nav-item .nav-link .badge {
          float: right;
          margin-top: 2px; }
        .main-menu-sidebar .nav .nav-item .nav-link.nav-dropdown-toggle::before {
          position: absolute;
          top: 0.96875rem;
          right: 1rem;
          display: block;
          width: 0.875rem;
          height: 0.875rem;
          padding: 0;
          font-size: 0.875rem;
          line-height: 0.65625rem;
          text-align: center;
          content: "\2039";
          transition: .3s; }
      .main-menu-sidebar .nav .nav-item.nav-dropdown.open {
        background: rgba(0, 0, 0, 0.2); }
        .main-menu-sidebar .nav .nav-item.nav-dropdown.open > ul, .main-menu-sidebar .nav .nav-item.nav-dropdown.open > ol {
          max-height: 1000px; }
        .main-menu-sidebar .nav .nav-item.nav-dropdown.open a.nav-link {
          color: #fff;
          border-left: 0 !important; }
        .main-menu-sidebar .nav .nav-item.nav-dropdown.open > .nav-link.nav-dropdown-toggle::before {
          -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg); }
        .main-menu-sidebar .nav .nav-item.nav-dropdown.open .nav-dropdown.open {
          border-left: 0; }
      .main-menu-sidebar .nav .nav-item.nav-dropdown.nt {
        transition: 0s !important; }
        .main-menu-sidebar .nav .nav-item.nav-dropdown.nt > ul, .main-menu-sidebar .nav .nav-item.nav-dropdown.nt > ol {
          transition: 0s !important; }
        .main-menu-sidebar .nav .nav-item.nav-dropdown.nt a.nav-link.nav-dropdown-toggle::before {
          transition: 0s !important; }
      .main-menu-sidebar .nav .nav-item a.nav-label {
        display: block;
        padding: 0.09375rem 1rem;
        color: #cfd8dc; }
        .main-menu-sidebar .nav .nav-item a.nav-label:hover {
          color: #fff;
          text-decoration: none; }
        .main-menu-sidebar .nav .nav-item a.nav-label i {
          width: 20px;
          margin: -3px 0.5rem 0 0;
          font-size: 10px;
          color: #636c72;
          text-align: center;
          vertical-align: middle; }
      .main-menu-sidebar .nav .nav-item .progress {
        background-color: #455b66 !important; }

@media (min-width: 576px) {
  body.sidebar-compact .hidden-cn {
    display: none; }
  body.sidebar-compact .main-menu-sidebar {
    z-index: 999;
    width: 50px; }
    body.sidebar-compact .main-menu-sidebar .sidebar-nav {
      overflow: visible; }
    body.sidebar-compact .main-menu-sidebar ul.nav li.nav-title, body.sidebar-compact .main-menu-sidebar ul.nav li.divider {
      display: none; }
    body.sidebar-compact .main-menu-sidebar ul.nav li.nav-item {
      width: 50px;
      overflow: hidden;
      border-left: 0 !important; }
      body.sidebar-compact .main-menu-sidebar ul.nav li.nav-item ul {
        background: #263238; }
      body.sidebar-compact .main-menu-sidebar ul.nav li.nav-item a.nav-link {
        position: relative;
        padding: 0 15px 0 0;
        margin: 0;
        line-height: 50px;
        white-space: nowrap;
        border-left: 0 !important; }
        body.sidebar-compact .main-menu-sidebar ul.nav li.nav-item a.nav-link.nav-dropdown-toggle::before {
          display: none; }
        body.sidebar-compact .main-menu-sidebar ul.nav li.nav-item a.nav-link i {
          display: block;
          float: left;
          width: 50px;
          height: 50px;
          padding: 0;
          margin: 0 !important;
          font-size: 18px;
          line-height: 50px; }
        body.sidebar-compact .main-menu-sidebar ul.nav li.nav-item a.nav-link .badge {
          position: absolute;
          top: 14px;
          right: 15px;
          display: none; }
        body.sidebar-compact .main-menu-sidebar ul.nav li.nav-item a.nav-link:hover {
          width: 200px; }
          body.sidebar-compact .main-menu-sidebar ul.nav li.nav-item a.nav-link:hover .badge {
            display: inline; }
      body.sidebar-compact .main-menu-sidebar ul.nav li.nav-item ul {
        position: absolute;
        top: 50px;
        left: 50px; }
        body.sidebar-compact .main-menu-sidebar ul.nav li.nav-item ul li {
          position: relative;
          padding: 0; }
          body.sidebar-compact .main-menu-sidebar ul.nav li.nav-item ul li a.nav-link {
            width: 150px; }
          body.sidebar-compact .main-menu-sidebar ul.nav li.nav-item ul li ul, body.sidebar-compact .main-menu-sidebar ul.nav li.nav-item ul li ol {
            position: absolute;
            top: 0;
            left: 100%; }
      body.sidebar-compact .main-menu-sidebar ul.nav li.nav-item.nav-dropdown.open {
        background: #304047; }
        body.sidebar-compact .main-menu-sidebar ul.nav li.nav-item.nav-dropdown.open > a.nav-link i {
          color: #20a8d8; }
        body.sidebar-compact .main-menu-sidebar ul.nav li.nav-item.nav-dropdown.open > ul, body.sidebar-compact .main-menu-sidebar ul.nav li.nav-item.nav-dropdown.open > ol {
          display: none; }
      body.sidebar-compact .main-menu-sidebar ul.nav li.nav-item:hover {
        width: 250px;
        overflow: visible;
        background: #20a8d8;
        transition: 0s; }
        body.sidebar-compact .main-menu-sidebar ul.nav li.nav-item:hover > a.nav-link {
          width: 250px; }
        body.sidebar-compact .main-menu-sidebar ul.nav li.nav-item:hover > ul, body.sidebar-compact .main-menu-sidebar ul.nav li.nav-item:hover > ol {
          display: inline;
          max-height: 10000px;
          transition: 0s; }
          body.sidebar-compact .main-menu-sidebar ul.nav li.nav-item:hover > ul li, body.sidebar-compact .main-menu-sidebar ul.nav li.nav-item:hover > ol li {
            width: 200px; }
            body.sidebar-compact .main-menu-sidebar ul.nav li.nav-item:hover > ul li a.nav-link, body.sidebar-compact .main-menu-sidebar ul.nav li.nav-item:hover > ol li a.nav-link {
              width: 200px; }
        body.sidebar-compact .main-menu-sidebar ul.nav li.nav-item:hover.nav-dropdown.open > ul, body.sidebar-compact .main-menu-sidebar ul.nav li.nav-item:hover.nav-dropdown.open > ol {
          display: inline; } }

nav.top-nav {
  position: absolute;
  top: 55px;
  left: 0;
  z-index: 999;
  display: inline !important;
  width: 100%;
  height: 40px;
  background: #fff;
  border-bottom: 1px solid #cfd8dc; }
  nav.top-nav ul.nav {
    white-space: nowrap; }
    nav.top-nav ul.nav li.nav-item {
      position: relative;
      display: inline-block;
      margin: 0; }
      nav.top-nav ul.nav li.nav-item ul {
        display: none;
        padding: 0;
        margin: 0;
        white-space: normal;
        background: #fff;
        border: 1px solid #cfd8dc; }
        nav.top-nav ul.nav li.nav-item ul li {
          padding: 0;
          list-style: none; }
      nav.top-nav ul.nav li.nav-item a.nav-link {
        display: block;
        padding: 0 15px;
        font-size: 12px;
        font-weight: 400;
        line-height: 40px;
        color: #292b2c;
        text-decoration: none;
        text-transform: uppercase; }
        nav.top-nav ul.nav li.nav-item a.nav-link i {
          display: block;
          float: left;
          width: 20px;
          margin: 0 10px 0 0;
          font-size: 14px;
          line-height: 39px;
          text-align: center; }
        nav.top-nav ul.nav li.nav-item a.nav-link .tag {
          float: right;
          margin-top: 13px;
          margin-left: 10px; }
        nav.top-nav ul.nav li.nav-item a.nav-link:hover {
          color: #fff;
          background: #20a8d8; }
        nav.top-nav ul.nav li.nav-item a.nav-link.active {
          color: #fff;
          background: #20a8d8; }
      nav.top-nav ul.nav li.nav-item ul {
        position: absolute;
        top: 39px;
        left: 0; }
        nav.top-nav ul.nav li.nav-item ul li {
          position: relative;
          padding: 0; }
          nav.top-nav ul.nav li.nav-item ul li a.nav-link {
            min-width: 200px; }
          nav.top-nav ul.nav li.nav-item ul li ul {
            position: absolute;
            top: 0;
            left: 100%; }
      nav.top-nav ul.nav li.nav-item.nav-more ul {
        right: 0;
        left: auto; }
        nav.top-nav ul.nav li.nav-item.nav-more ul li ul {
          right: 100%;
          left: auto; }
      nav.top-nav ul.nav li.nav-item:hover > ul {
        display: inline; }

